# Let's Build The NLP and LDA Model

### Import Relevent Modules for DataScraping

In [24]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import seaborn as sns
import matplotlib.pyplot as plt
import gensim

## Let's Concatenate all The Dataframes

In [1]:
! pip install gensim

Requirement already satisfied: gensim in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (3.8.3)
Requirement already satisfied: numpy>=1.11.3 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from gensim) (1.18.5)
Requirement already satisfied: six>=1.5.0 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from gensim) (1.15.0)
Requirement already satisfied: scipy>=0.18.1 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from gensim) (1.5.0)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from gensim) (3.0.0)
Requirement already satisfied: requests in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from smart-open>=1.8.1->gensim) (2.31.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2.0.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jhalp\anaconda3\envs\learn-env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2023.7.22)

In [115]:
RF_1 = pd.read_csv("Redfin Data\Redfin98199.csv")
RF_2 = pd.read_csv("Redfin Data\Redfin98178.csv")
RF_3 = pd.read_csv("Redfin Data\Redfin98177.csv")
RF_4 = pd.read_csv("Redfin Data\Redfin98168.csv")
RF_5 = pd.read_csv("Redfin Data\Redfin98155-2.csv")
RF_6 = pd.read_csv("Redfin Data\Redfin98155-1.csv")
RF_7 = pd.read_csv("Redfin Data\Redfin98146.csv")
RF_8 = pd.read_csv("Redfin Data\Redfin98144.csv")
RF_9 = pd.read_csv("Redfin Data\Redfin98144.csv")
RF_10 = pd.read_csv("Redfin Data\Redfin98136.csv")
RF_11 = pd.read_csv("Redfin Data\Redfin98133-3.csv")
RF_12 = pd.read_csv("Redfin Data\Redfin98133-2.csv")
RF_13 = pd.read_csv("Redfin Data\Redfin98133-1.csv")
RF_14 = pd.read_csv("Redfin Data\Redfin98126-1.csv")
RF_15 = pd.read_csv("Redfin Data\Redfin98126-2.csv")
RF_16 = pd.read_csv("Redfin Data\Redfin98125-1.csv")

In [116]:

dfs = [RF_1, RF_2, RF_3, RF_4, RF_5, RF_6, RF_7, RF_8, RF_9, RF_10, RF_11, RF_12, RF_13, RF_14, RF_15, RF_16, RF_17, RF_18, RF_19, RF_20, RF_21, RF_22, RF_23, RF_24, RF_25, RF_26, RF_27, RF_28, RF_29, RF_30, RF_31, RF_32, RF_33, RF_34, RF_35, RF_36, RF_37, RF_38, RF_39, RF_40, RF_41, RF_42, RF_43, RF_44]

concatenated_df = pd.concat(dfs, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10155 entries, 0 to 10154
Data columns (total 27 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   SALE TYPE                                                                                    10155 non-null  object
 1   SOLD DATE                                                                                    9126 non-null   object
 2   PROPERTY TYPE                                                                                10155 non-null  object
 3   ADDRESS                                                                                      10152 non-null  object
 4   CITY                                                                                         10152 non-null  object
 5   STATE OR PROVINCE                                                                            10155 non-null  object
 6   ZIP OR POSTAL CODE                                                                           10152 non-null  float64
 7   PRICE                                                                                        10152 non-null  float64
 8   BEDS                                                                                         10106 non-null  float64
 9   BATHS                                                                                        10100 non-null  float64
 10  LOCATION                                                                                     9126 non-null   object
 11  SQUARE FEET                                                                                  10126 non-null  float64
 12  LOT SIZE                                                                                     8010 non-null   float64
 13  YEAR BUILT                                                                                   10017 non-null  float64
 14  DAYS ON MARKET                                                                               0 non-null      float64
 15  $/SQUARE FEET                                                                                10125 non-null  float64
 16  HOA/MONTH                                                                                    3033 non-null   float64
 17  STATUS                                                                                       9129 non-null   object
 18  NEXT OPEN HOUSE START TIME                                                                   0 non-null      float64
 19  NEXT OPEN HOUSE END TIME                                                                     0 non-null      float64
 20  URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)  10155 non-null  object
 21  SOURCE                                                                                       9129 non-null   object
 22  MLS#                                                                                         9126 non-null   float64
 23  FAVORITE                                                                                     10155 non-null  object
 24  INTERESTED                                                                                   10155 non-null  object
 25  LATITUDE                                                                                     10155 non-null  float64
 26  LONGITUDE                                                                                    10155 non-null  float64
dtypes: float64(15), object(12)
memory usage: 2.1+ MB

Delete the Loaded Dataframes to Conserve Memory

In [ ]:
Test for the Kalbinski-Harbanz for Topic Modeling 
Metric: Seesavi Coherence Score 
Gensim can take the LDA model within a coherence model will measure coherence scores
Python LDA Visualization

In [253]:
df = pd.read_csv("Redfin Data\Redfin_98103-1_Descriptions.csv")

In [254]:
df.head()

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL,SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE,Description
0,PAST SALE,May-30-2023,Single Family Residential,9238 Evanston Ave N,Seattle,WA,98103,690000,2.0,1.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/9238-Evansto...,NWMLS as Distributed by MLS Grid,2065664.0,N,Y,47.697164,-122.351014,INVESTORS & homebuyers- Check out this FULLY u...
1,PAST SALE,September-22-2023,Single Family Residential,1412 N 46th St,Seattle,WA,98103,900000,2.0,1.5,...,NaN,NaN,https://www.redfin.com/WA/Seattle/1412-N-46th-...,NWMLS as Distributed by MLS Grid,2150815.0,N,Y,47.662339,-122.339990,"Charming & undeniably special, you'll fall in ..."
2,PAST SALE,October-27-2023,Condo/Co-op,731 N 94th St #4,Seattle,WA,98103,410000,2.0,2.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/731-N-94th-S...,NWMLS as Distributed by MLS Grid,2167654.0,N,Y,47.696649,-122.348650,"Welcome home to this move-in ready, recently u..."
3,PAST SALE,July-20-2023,Condo/Co-op,6801 Greenwood Ave N #105,Seattle,WA,98103,515000,1.0,1.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/6801-Greenwo...,NWMLS as Distributed by MLS Grid,2127918.0,N,Y,47.678871,-122.355649,Rare opportunity for a bright & airy condo w/ ...
4,PAST SALE,May-26-2023,Condo/Co-op,8760 Greenwood Ave N Unit N405,Seattle,WA,98103,398500,1.0,1.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/8760-Greenwo...,NWMLS as Distributed by MLS Grid,2062567.0,N,Y,47.694002,-122.355046,"Light, bright, & centrally located - this beau..."

In [255]:
df = df.dropna(subset=["Description"])

In [256]:
df['Description'] = df['Description'].astype(str)

In [257]:
df["Description"] = df["Description"].str.lower()

In [258]:
df["Description"] = df["Description"].apply(lambda x: word_tokenize(x))

In [259]:
stop_words = set(stopwords.words('english'))

In [260]:
cleaned_tokenized_descriptions = []
for tokens in df["Description"]:
    cleaned_tokens = [word for word in tokens if word.lower() not in stop_words ]
    cleaned_tokenized_descriptions.append(cleaned_tokens)

In [261]:
df["Description"] = cleaned_tokenized_descriptions

In [262]:
df['Description'] = df['Description'].apply(lambda tokens: [word for word in tokens if word.isalnum()])

In [263]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jhalp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [265]:
df["Description"]

0      [investor, check, fully, updated, super, charm...
1      [charming, undeniably, special, fall, love, bu...
2      [welcome, home, ready, recently, updated, spac...
3      [rare, opportunity, bright, airy, condo, priva...
4      [light, bright, centrally, located, beautifull...
                             ...
233    [historic, charmer, meet, modern, vibe, remode...
234    [attached, 1, car, garage, light, bright, town...
235    [top, floor, unit, like, living, tree, house, ...
236    [welcome, home, wallingford, one, coveted, nei...
237    [4, star, built, green, townhome, perched, per...
Name: Description, Length: 213, dtype: object

In [267]:
df["Description"]

0      [investor, check, fully, updated, super, charm...
1      [charming, undeniably, special, fall, love, bu...
2      [welcome, home, ready, recently, updated, spac...
3      [rare, opportunity, bright, airy, condo, priva...
4      [light, bright, centrally, located, beautifull...
                             ...
233    [historic, charmer, meet, modern, vibe, remode...
234    [attached, 1, car, garage, light, bright, town...
235    [top, floor, unit, like, living, tree, house, ...
236    [welcome, home, wallingford, one, coveted, nei...
237    [4, star, built, green, townhome, perched, per...
Name: Description, Length: 213, dtype: object

In [268]:
df['Description'] = df['Description'].apply(lambda words: ' '.join(words))

In [269]:
df

,SALE TYPE,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,STATE OR PROVINCE,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,...,NEXT OPEN HOUSE START TIME,NEXT OPEN HOUSE END TIME,URL,SOURCE,MLS#,FAVORITE,INTERESTED,LATITUDE,LONGITUDE,Description
0,PAST SALE,May-30-2023,Single Family Residential,9238 Evanston Ave N,Seattle,WA,98103,690000,2.0,1.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/9238-Evansto...,NWMLS as Distributed by MLS Grid,2065664.0,N,Y,47.697164,-122.351014,investor check fully updated super charming gr...
1,PAST SALE,September-22-2023,Single Family Residential,1412 N 46th St,Seattle,WA,98103,900000,2.0,1.5,...,NaN,NaN,https://www.redfin.com/WA/Seattle/1412-N-46th-...,NWMLS as Distributed by MLS Grid,2150815.0,N,Y,47.662339,-122.339990,charming undeniably special fall love bungalow...
2,PAST SALE,October-27-2023,Condo/Co-op,731 N 94th St #4,Seattle,WA,98103,410000,2.0,2.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/731-N-94th-S...,NWMLS as Distributed by MLS Grid,2167654.0,N,Y,47.696649,-122.348650,welcome home ready recently updated spacious c...
3,PAST SALE,July-20-2023,Condo/Co-op,6801 Greenwood Ave N #105,Seattle,WA,98103,515000,1.0,1.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/6801-Greenwo...,NWMLS as Distributed by MLS Grid,2127918.0,N,Y,47.678871,-122.355649,rare opportunity bright airy condo private yar...
4,PAST SALE,May-26-2023,Condo/Co-op,8760 Greenwood Ave N Unit N405,Seattle,WA,98103,398500,1.0,1.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/8760-Greenwo...,NWMLS as Distributed by MLS Grid,2062567.0,N,Y,47.694002,-122.355046,light bright centrally located beautifully upd...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,PAST SALE,March-31-2023,Condo/Co-op,8752 Dayton Ave N,Seattle,WA,98103,540000,1.0,2.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/8752-Dayton-...,NWMLS as Distributed by MLS Grid,2006984.0,N,Y,47.694100,-122.352389,historic charmer meet modern vibe remodeled tw...
234,PAST SALE,March-28-2023,Townhouse,8740 Phinney Ave N Unit B,Seattle,WA,98103,575000,2.0,1.5,...,NaN,NaN,https://www.redfin.com/WA/Seattle/8740-Phinney...,NWMLS as Distributed by MLS Grid,1999008.0,N,Y,47.693569,-122.353796,attached 1 car garage light bright townhome gr...
235,PAST SALE,January-17-2023,Condo/Co-op,3420 Burke Ave N Unit B-302,Seattle,WA,98103,337000,1.0,1.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/3420-Burke-A...,NWMLS as Distributed by MLS Grid,1960039.0,N,Y,47.648610,-122.334812,top floor unit like living tree house peek boo...
236,PAST SALE,February-6-2023,Townhouse,4605 Burke Ave N,Seattle,WA,98103,676000,2.0,2.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/4605-Burke-A...,NWMLS as Distributed by MLS Grid,1932354.0,N,Y,47.662368,-122.335364,welcome home wallingford one coveted neighborh...
237,PAST SALE,March-17-2023,Townhouse,4801 Dayton Ave N Unit B,Seattle,WA,98103,720000,2.0,2.0,...,NaN,NaN,https://www.redfin.com/WA/Seattle/4801-Dayton-...,NWMLS as Distributed by MLS Grid,1939986.0,N,Y,47.663709,-122.352910,4 star built green townhome perched perfectly ...

In [270]:
tfidf_vectorizer = TfidfVectorizer()
tfidf = tfidf_vectorizer.fit_transform(df["Description"])
tfidf_df = pd.DataFrame(tfidf.toarray(), columns=tfidf_vectorizer.get_feature_names())

In [271]:
tfidf_df

,10,10ft,12,13,1300sf,1400,16,1905,1909,1910,...,yard,year,yet,yoga,zero,zoka,zone,zoned,zoning,zoo
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.108313
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.10189,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.140886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.099499,0.00000,0.0,0.162235,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
209,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.097428,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
210,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
211,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000
212,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.109183